
  .fila-info-pendiente {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }
  /* Info Personal*/
  .info {
    padding: 1rem;
    background-color: #5bb7e27e;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid;
    width: 450px;
  }
  
  .info-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .info-contenido {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  
  .perfil-icono {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  
  .info-datos p {
    margin: 4px 0;
    font-size: 15px;
    color: #000000;
    padding: 0.1rem;
  }
  /*Botones*/

  .info-botones a {
    display: flex; 
    flex-direction: column; 
    align-items: center;     
    justify-content: center; 
    padding: 18px 15px;
    gap: 0.5rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    color: black;
  }

  .btn-small {
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .yellow {
    background-color: #f5e66b;
    border: 1px solid black;
  }
  
  .green {
    background-color: #a8e6a1;
    border: 1px solid black;
  }
  .red {
    background-color: #eb9797;
    border: 1px solid black;

  }
  .red:hover {
    background-color:#f04646 ;
  }

  .green:hover {
    background-color: #4ac33c;
  }
  .yellow:hover {
    background-color: #e9d010;
  }
  /*Seccion Pendientes*/
  .pendientes {
    background-color: #ffeaea;
    border-radius: 20px;
    padding: 1rem;
    min-height: 500px;
    font-size: 1rem;
    border: 1px solid black;
    width: 50%;
  }

  #task-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .task-input {
    flex-grow: 1;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  #add-task { 
    margin-top: 0.5rem;
    padding: 0.4rem;
    font-size: 0.8rem;
    background-color: #ffb3b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
  #add-task:hover {
  background-color: #ff8c8c;  
  }

