
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    height: 100%;
    background-color: #ccc;
  }
 /*Menu*/ 
  .sidebar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding-top: 1rem;
    width: 60px;
    transition: width 0.3s ease;
    overflow: hidden;
  }
  .sidebar-toggle.expanded {
    width: 150px; 
    align-items: flex-start;
  }

 .logo-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .logo {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .logo-text {
    color: white;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    display: none;
  }
  
  .sidebar-toggle.expanded .logo-text {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }
  #menu-toggle {
    font-size: 1rem;
    background: none;
    border: none;
    color: rgb(235, 223, 223);
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    width: 100%;
    margin-left: 0.8rem; 
  }

  .sidebar {
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
    padding: 0.2rem;
    transition: all 0.3s ease;
  }
  
  .icon-btn {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.4rem 0.5rem;
    width: 100%;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
  }
  
  .icon-btn:hover {
    background-color: rgba(255, 255, 255, 0.1); /* más claro */
  }
  
  .icon-btn.active {
    background-color: rgba(255, 255, 255, 0.2); /* más resaltado */
  }
  
  .menu-text {
    display: none;
    font-size: 0.8rem;
    text-align: left;
    color: white;
  }
  
  .sidebar-toggle.expanded .menu-text {
    display: inline;
  }
  
/*Ventana de Perfil*/
  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 0.5rem 1rem;
  }

  .top-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
  }

  .icon-btnm {
    background-color: rgb(247, 241, 241);
    border-radius: 5px;
    padding: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
  }
  .user-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-summary {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
  }
  
  .user-summary user-icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 1rem;
    width: 200px;
    line-height: 25px;
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  }
  
  .user-menu:hover .dropdown {
    display: block;
  }

  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .profile-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
  }

  .user-name {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }

  .profile-link {
    font-size: 13px;
    color: gray;
    text-decoration: none;
    margin-top: 2px;
  }

  .profile-link:hover {
    text-decoration: underline;
  }

  
  .logout-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #817675ac; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .logout-link:hover {
    background-color: #e06659;
  }
  
 /*Seccion de Inicio*/
  .content {
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .panel {
    font-family: cursive;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    max-width: 2000px;
    width: 1350px;
    box-shadow: 0 0 10px rgba(138, 6, 6, 0.1);
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    border:1px solid black;
  
  }

  .fila-info-pendiente {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }
  /* Info Personal*/
  .info {
    padding: 1rem;
    background-color: #5bb7e27e;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid;
    width: 450px;
  }
  
  .info-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .info-contenido {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  
  .perfil-icono {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  
  .info-datos p {
    margin: 4px 0;
    font-size: 15px;
    color: #000000;
    padding: 0.1rem;
  }
  

  .info-botones {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }
  /*Botones*/
  .btn-small {
    font-size: 0.9rem;
    padding: 0.9rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .yellow {
    background-color: #f5e66b;
    border: 1px solid black;

  }
  
  .green {
    background-color: #a8e6a1;
    border: 1px solid black;
  }
  .red {
    background-color: #d67272;
    border: 1px solid black;
  }
  /*Seccion Pendientes*/
  .pendientes {
    background-color: #fdd;
    border-radius: 20px;
    padding: 1rem;
    min-height: 500px;
    font-size: 1rem;
    border: 1px solid black;
    width: 50%;
  }

  #task-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .task-input {
    flex-grow: 1;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  #add-task { 
    margin-top: 0.5rem;
    padding: 0.4rem;
    font-size: 0.8rem;
    background-color: #ffb3b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
