.configuracion-container h2 {
    margin-bottom: 1rem;
}

.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tab {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 5px;
}

.tab:hover {
    background-color: #ccc;
}
.tab.active {
    background-color: #ccc;
    font-weight: bold;
}

.tab-content {
    display: none;

}

.tab-content.active {
    display: block;
}

form label {
    display: block;
    margin-top: 0.5rem;
}

form input {
    width: 100%;
    padding: 0.4rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

form button {
    padding: 1rem 1rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
form button:hover {
    background-color: #857d7d;
}
 hr {
    color: black;
    margin: 1rem 0;
 }