 /* Categoria*/
  .category-container {
    display: flex;
    align-items: center;
    gap: 1rem; 
  }

  #categoria {
    padding: 0.7rem; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem; 
    height: 40px; 
    min-width: 200px;
    background-color: #fff; 
    color: #333; 
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
  #categoria:hover {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  